
/*
 * Estilos de tu proyecto
 */
 /* dejo todo el margen y el padding en 0 y el estilo de texto de mi web será Montserrat */
 *{
 	margin: 0 auto;
 	padding: 0px;
 	font-family: 'Montserrat', sans-serif;
}
/* doy ancho, alto y margenes a la imagen del menú */
.fondo-header img{
	width: 70px;
	height: 50px;
	margin-top: 45px;
	margin-left: 100px;
	float: left;
}
/* establezco como fondo una imagen llamada hero.gif, le doy altura, ancho y tamaño */
.fondo-header{
	background-image: url(../assets/images/hero.gif);
	height: 110vh;
	background-size: cover;
	width: 100%;
}
/* establezco como fondo un gradiente, le doy altura y utilizo las propiedades de clear y overflow, 
por ser clase padre de elementos flotantes */ 
.gradiente-morado{
	background: linear-gradient(#76278F, #2B1E66);
	height: 700px;
	clear: both;
	overflow: hidden;
	display: inline-block;
	margin-top: 100px;
	width: 100%;
}
/* mi menú se encuentra en la parte superior y lo he dejado en posición fija */
#menu{
	position: fixed;
	font-size: 20px;
	color: white;
	width:1300px;
	height: 150px;
}
/* le doy las dimensiones a mi imagen que se encuentra dentro del menú */
#menu img{
	width: 70px;
	height: 40px;
	margin-left: 100px;
	margin-top: 50px;
	float: left;
}

#menu .texto1 p{
	margin-top: 50px;
	margin-left: 750px;
	font-size: 20px;
	float: left;
} 
#menu .texto2 p{
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
	float: left;
} 

#menu .texto3 p{
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
	float: left;
} 

#menu .texto4 p{
	margin-top: 45px;
	margin-left: 50px;
	font-size: 20px;
	padding: 10px;
	float: left;
	text-align: center;
	border: 2px outset white;
	border-radius: 7px;
} 
/* da animación al menú superior, al pasar el mouse sobre el menú el fondo cambia a color blanco */
#menu:hover{
	height: 150px;
	background-color: white;
}
/* da la animación a los textos del menú, al pasar el mouse sobre los textos del menú su color
cambia al color fucsia (#FF00BF)*/
#menu .texto1 p:hover{
	color: #FF00BF;
}
#menu .texto2 p:hover{
	color: #FF00BF;
}
#menu .texto3 p:hover{
	color: #FF00BF;
}
#menu .texto4 p:hover{
	color: #FF00BF;
}

#menu-lateral{
	margin-top: 130px;
	font-size: 20px;
	background-color: white;
	color: #352384;
	float: right;
	padding: 50px;
	width: 400px;
	height: 350px;
}
#menu-lateral p{
	font-size: 15px;
	margin-top: 10px;
}
#menu-lateral a p{
	font-size: 16px;
	color: #728099;
	margin-top: 40px;
	text-align: justify;
}
/* dando ancho a la línea horizontal que se encuentra en el menú lateral */
#menu-lateral hr{
	width: 399px;
}

#menu-lateral .boton p{
	display: inline-block;
	background-color: #FF00BF;
	color: white;
	border-radius: 7px;
	width: 150px;
	height: 30px;
	padding: 5px;
	padding-top: 20px;
	margin-top: 30px;
}
/* margenes al enlace del menú lateral */
.enlace .sign{
	position: relative;
	bottom: 40px;
	left: 200px;
	font-size: 16px;
}
#menu-lateral .enlace p{
	font-size: 10px;
	text-align: justify;
	color: #728099; 
}
#menu-lateral .enlace p a{
	color: #FF00BF;
}
/* parrafos de la clase gradiente-morado */
#parrafos{
	float: left;
	margin-top: 80px;
	margin-left: 100px;
	color: white;
}
#parrafos p{
	margin-top: 20px;
	line-height: 2;
	text-align: justify;
}
#parrafos h2{
	margin-top: 30px;
}
.parrafo2 h2{
	padding-top: 40px;
}
.parrafo3 h2{
	padding-top: 40px;
}
.telefono img{
	margin-top: 120px;
	margin-right: 90px;
	width: 500px;
	height: 500px;
	float: right;
}
/*dándole las propiedades de clear y overflow al id padre videos */
#videos{
	clear: both;
	overflow: hidden;
}
.parrafo4{
	padding-top: 700px;
	margin-left: 50px;
	float: left;
}
.parrafo4 h2{
	text-transform: uppercase;
}
.parrafo4 p{
	color: black;
	margin-top:30px;
	text-align: justify;
}
.video1{
	margin-top: 600px;
	float: right;
}
.video2{
	float: left;
}
.parrafo5{
	padding-top: 50px;
	margin-right: 50px;
	float: right;
	height: 500px;
}
.parrafo5 h2{
	text-transform: uppercase;
}
.parrafo5 p{
	margin-top:30px;
	color: black;
	text-align: justify;
}
.parrafo6{
	padding-top: 50px;
	padding-left: 50px;
	float: left;
}
.parrafo6 h2{
	text-transform: uppercase;
}
.parrafo6 p{
	margin-top:30px;
	color: black;
	text-align: justify;
}
.video3{
	float: right;
}

footer{
	background-color: #333447;
	background-size: cover;
	width: 100%;
	height: 90vh;
	color: white;
	clear: both;
	overflow: hidden;
}
footer h3{
	float: left;
	margin-top: 70px;
	margin-left: 130px;
	text-transform: uppercase;
}
/* dándo ancho, altura y margen a las etiquetas de auspiciadores */
footer img{
	width: 120px;
	height: 40px;
	margin-left: 900px;
	display: inherit;
	padding-top: 60px;
}

.lista1{
	float: left;
}
/* animación a las listas del footer, al pasar el mouse sobre el texto el color cambia a #FF00BF*/
.lista1 ul li a:hover{
	color: #FF00BF;
}
/* sacándole los estilos de la lista ordenada*/
.lista1 ul{
	list-style: none;
}
/* cambiando el texto de la clase lista1 a mayúscula */
.lista1 h3{
	text-transform: uppercase;
	margin-top: 50px;
}
/*margenes de las listas*/
ul li{
	margin-top: 30px;
	margin-left:125px;
}
/*llamando al primer hijo del padre clase lista1*/
ul li:first-child{
	margin-top: 100px;
}
/*quitándole la línea al enlace de la lista */
ul a{
	color: white;
	text-decoration: none;
}
.lista2{
	float: left;
}
.lista2 ul li a:hover{
	color: #FF00BF;
}
.lista2 ul{
	list-style: none;
}
.lista2 h3{
	text-transform: uppercase;
	margin-top: 50px;
}
ul li{
	margin-top: 30px;
	margin-left:125px;
}
ul li:first-child{
	margin-top: 100px;
}
ul a{
	text-decoration: none;
}
.lista3{
	float: left;
}
.lista3 ul li a:hover{
	color: #FF00BF;
}
.lista3 ul{
	list-style: none;
}
.lista3 h3{
	text-transform: uppercase;
	margin-top: 50px;
}
ul li{
	margin-top: 30px;
	margin-left:125px;
}
ul li:first-child{
	margin-top: 100px;
}
ul a{
	text-decoration: none;
}
/* margen, tamaño y ubicación de los logos de redes sociales */
footer #redes-sociales div{
	margin-top: 100px;
	font-size: 20px;
	display: inline-block;	
}
/* dándole borde circular a los íconos de redes sociales */
footer #redes-sociales .facebook{
	margin-left: 500px;
	border: 2px solid white;
	padding: 8px;
	border-radius: 60%;
}
footer #redes-sociales .instagram{
	margin-left: 50px;
	border: 2px solid white;
	padding: 8px;
	border-radius: 60%;
}
footer #redes-sociales .twitter{
	margin-left: 50px;
	border: 2px solid white;
	padding: 8px;
	border-radius: 60%;
}
/*margen y ancho de línea horizontal del footer*/
hr{
	margin-top: 40px;
	width: 900px;
}
/*tamaño del texto, color y margenes del pie de página*/
p{
	font-size: 15px;
	text-align: center;
	color: white;
	margin-top: 50px;
}




